body,html{
	height: 100%;
	width: 100%;
}
.main-container{
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.main-container > .login,
.main-container > .hero-body{
	height: auto;
	width: 100%;
	max-width: 400px;
	min-width: 300px;
	background-color:rgba(180, 255, 180, 0.5)
}

.form-inline{
	display: inline-flex;
}

.txt{
	/*margin: -10%;*/
	display: block;
	position: absolute;
	left:44%;
	/*top:0%;*/
	/* transform: translate(-100%, -50%); */
	text-align: right;
}

.txtnum{
	width: 50px;
	display: block;
	position: absolute;
	/* left: 28.5%; */
	/* transform: translate(-100%, -50%); */
	text-align: right;
	
}

.salbut{
	width: auto;
	display: block;
	position: absolute;
	left: 81.5%;
	transform: translate(-100%, 0%);
	text-align: right;
	
}